{% extends "_base.html" %}

{% block center_content %}
    {% if post %}
        <form action="{{ url_for('posts.edit_post', id=post.id) }}" method="post">
    {% else %}
        <form action="{{ url_for('posts.add_post') }}" method="post">
    {% endif %}

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Назва статті</label>

        {% if post %}
            <input type="text" class="form-control" id="exampleInputEmail1" name="title" value="{{ request.form.title or post.title }}">
        {% else %}
            <input type="text" class="form-control" id="exampleInputEmail1" name="title" value="{{ request.form.title }}">
        {% endif %}

    </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Стаття</label>

        {% if post %}
            <textarea type="text" class="form-control" id="exampleInputEmail1" name="text">{{ request.form.text or post.text }}</textarea>
        {% else %}
            <textarea type="text" class="form-control" id="exampleInputEmail1" name="text">{{ request.form.text }}</textarea>
        {% endif %}

    </div>
    {% if not post %}
        <select name="user_id" class="form-control">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.last_name }} {{ user.first_name }}</option>
            {% endfor %}
        </select>
    {% endif %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль адміністратора</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
            <h5 class="btn btn-info">{{ msg }}</h5>
        {% endfor %}
    {% endwith %}
{% endblock center_content %}