{% extends "_base.html" %}

{% block content %}
{% block title %}
    Gotei13 NEWS
{% endblock title %}
{% endblock content %}

{% block center_content %}
    {% for post in posts %}
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Назва статті</h5>
            <p class="card-text"><em>Автор: </em>{{ post.user.last_name }} {{ post.user.first_name }}</p>
            <a href="{{ url_for('posts.get_post', id=post.id) }}" class="btn btn-primary">Читати статтю</a>
        </div>
        </div>
    {% endfor %}
{% endblock center_content %}